<!DOCTYPE html>
<html>
<head>
	<title>Agence immobilière</title>
  {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
</head>
<body>
	<header>
		<nav>
			<div class="logo">
				<h1><a href="">Agence immobilière</a></h1>
			</div>
			<ul class="menu">
				<li><a href="location">Location</a></li>
				<li><a href="vente">Vente</a></li>
				<li><a href="formulaire">contactez-nous</a></li>
				<li><a href="ajout_bien">dépôt des biens</a></li>
				<li><a href="#">A propos</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>

      


