<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-s3XBUnzWN1MF+0qr5R5qw5v5Xb2ziFkY+Pye2F8gDrHyJbGF09jj23JHt/N39aq4OTv9y+54LtaYHJtRUwT8Zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-z8+3LqMpzA1YBbyjkzrwtwTJZiaP+oMrTmdFgVi8O7P9JvG0+M1xl+jcR0/eR1u6TFPFU6lzxu6+hxUo7q3KMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% extends 'home.html' %}
 
{% block title %}connexion au blog{% endblock  %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header"> <i class="fa-li"> connexion au blog</i></div>

    </div>
</div>
{% endblock %}
